@import '~antd/dist/antd.css';

.App {
  text-align: center;
  height: 100%;
  background: #c9a941;
}


.Sidebar {
  height: 100vh;
  width: 200px;
  text-align: justify;
  position: fixed;
  background: #FFF;
}

@media only screen and (max-width: 576px) {
    .Sidebar {
        display: none;
    }
}

.Sb_Top {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
}

#Sb_Avatar_Row {
  align-content: center;
  height: auto;
}

#Sb_Avatar_Icon {
  margin: 0 auto;
  height: 30%;
  width: 30%;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

#Sb_House_Buttons {
  width: 100%;
  padding-right: 6%;
  padding-left: 5%;
}

.char_header {
  height: 16vh;
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
}

.item_table {
  padding: 0 50px;
}

.support_rows {
  padding-top: 20px;
}

.white {
  color:white;
}

.black {
  color:black;
}

.support_icon {
  font-size: 7px;
  width: 25%;
  vertical-align: top;
}

.support_rank_button {
  width: 100%;
}

.Row {
  padding-left: 30px;
  padding-right: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-layout, #root {
  height: 100%;
}
