@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.Sidebar {
  height: 100vh;
  width: 200px;
  background-color: white;
  text-align: justify;
}

.Sb_Top {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
}

#Sb_Avatar_Row {
  align-content: center;
  height: auto;
}

#Sb_Avatar_Icon {
  margin: 0 auto;
  height: 50%;
  width: 50%;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

#Sb_House_Buttons {
  width: 100%;
  padding-right: 6%;
  padding-left: 5%;
}

.Row {
  padding-left: 30px;
  padding-right: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
